
// Fonts
$font_main: "Plus Jakarta Sans", sans-serif;

// Sizes of Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
/// Primary
$softRed: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);

// Neutral
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$darkBrown: hsl(25, 47%, 15%);
$mediumBrown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$veryPaleOrange: hsl(33, 100%, 98%);

$separacion: 5rem;

// Weigths
$delgada: 300;
$regular : 400;
$semiRegular : 500;
$bold: 700;
$superBlack: 900