@use 'base/variables' as v;
@use 'base/mixins' as m;

.container_main {
    width: 90%;
    max-width: 35rem;
    margin: 5rem auto;
    
    @include m.tablet {
        width: 50%;
        max-width: 45rem;
        margin: 8rem auto;
    }
}
